<menus>
    <menu id="MainMenu">
        <menu-item id="listSuspensions" label="@Strings.menu_listSuspensions" />
        <menu-item id="quitApp" label="@Strings.menu_quitApp" />
    </menu>
    <menu2 id="SuspensionSelectionMenu" title="@Strings.suspensionMenu_selectSuspension">
        <menu-item id="greenCard" label="@Strings.suspensionMenu_greenCard" />
        <menu-item id="yellowCardShort" label="@Strings.suspensionMenu_yellowCardShort" />
        <menu-item id="yellowCardMedium" label="@Strings.suspensionMenu_yellowCardMedium" />
        <menu-item id="yellowCardLong" label="@Strings.suspensionMenu_yellowCardLong" />
        <menu-item id="yellowRedCard" label="@Strings.suspensionMenu_yellowRedCard" />
    </menu2>
</menus>
