<menus>
    <menu id="MainMenu">
        <menu-item id="quitApp" label="@Strings.menu_quitApp" />
    </menu>
    <menu2 id="SuspensionSelectionMenu" title="@Strings.suspensionSelectionMenu_selectSuspension">
        <menu-item id="greenCard" label="@Strings.suspensionSelectionMenu_greenCard" />
        <menu-item id="yellowCardShort" label="@Strings.suspensionSelectionMenu_yellowCardShort" />
        <menu-item id="yellowCardMedium" label="@Strings.suspensionSelectionMenu_yellowCardMedium" />
        <menu-item id="yellowCardLong" label="@Strings.suspensionSelectionMenu_yellowCardLong" />
        <menu-item id="yellowRedCard" label="@Strings.suspensionSelectionMenu_yellowRedCard" />
        <menu-item id="redCard" label="@Strings.suspensionSelectionMenu_redCard" />
    </menu2>
    <menu2 id="GameEventMenu" title="@Strings.gameEventMenu_title">
        <!--<menu-item id="goals" label="@Strings.gameEventMenu_goals" />
        <menu-item id="listSuspensions" label="@Strings.gameEventMenu_listSuspensions" />-->
        <menu-item id="giveGoal" label="@Strings.gameEventMenu_giveGoal" />
        <menu-item id="suspendPlayer" label="@Strings.gameEventMenu_suspendPlayer" />
        <menu-item id="gameEventList" label="@Strings.gameEventMenu_gameEventList" />
        <menu-item id="quitApp" label="@Strings.gameEventMenu_quitApp" />
    </menu2>
    <menu2 id="GoalMenu" title="@Strings.goalMenu_title">
        <menu-item id="listGoals" label="@Strings.goalMenu_listGoals" />
        <menu-item id="giveGoal" label="@Strings.goalMenu_giveGoal" />
    </menu2>
</menus>