<settings>
    <setting propertyKey="@Properties.maxQuarters" title="@Strings.settings_quarterSettings_maxQuarters">
        <settingConfig type="numeric" min="1" max="4" />
    </setting>
    <setting propertyKey="@Properties.quarterTime" title="@Strings.settings_quarterSettings_quarterTime">
        <settingConfig type="numeric" min="0" />
    </setting>
    <setting propertyKey="@Properties.penaltyCornerPreperationTime" title="@Strings.settings_penaltyCornerSettings_penaltyCornerPreperationTime">
        <settingConfig type="numeric" min="0" />
    </setting>
    <setting propertyKey="@Properties.penaltyCornerPreperationNotificationTime" title="@Strings.settings_penaltyCornerSettings_penaltyCornerPreperationNotificationTime">
        <settingConfig type="numeric" min="0" />
    </setting>
    <setting propertyKey="@Properties.greenCardSuspensionTime" title="@Strings.settings_suspensionSettings_greenCardSuspensionTime">
        <settingConfig type="numeric" min="0" />
    </setting>
    <setting propertyKey="@Properties.yellowCardShortSuspensionTime" title="@Strings.settings_suspensionSettings_yellowCardShortSuspensionTime">
        <settingConfig type="numeric" min="0" />
    </setting>
    <setting propertyKey="@Properties.yellowCardMediumSuspensionTime" title="@Strings.settings_suspensionSettings_yellowCardMediumSuspensionTime">
        <settingConfig type="numeric" min="0" />
    </setting>
    <setting propertyKey="@Properties.yellowCardLongSuspensionTime" title="@Strings.settings_suspensionSettings_yellowCardLongSuspensionTime">
        <settingConfig type="numeric" min="0" />
    </setting>
    <setting propertyKey="@Properties.yellowRedCardRefill" title="@Strings.settings_suspensionSettings_yellowRedCardRefill">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.yellowRedCardSuspensionTime" title="@Strings.settings_suspensionSettings_yellowRedCardSuspensionTime">
        <settingConfig type="numeric" min="0" />
    </setting>
    <setting propertyKey="@Properties.displayPlayTimeMilliSeconds" title="@Strings.settings_enableFunctionsSettings_displayPlayTimeMilliSeconds">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.enableGoalTracking" title="@Strings.settings_enableFunctionsSettings_enableGoalTracking">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.enableSuspensions" title="@Strings.settings_enableFunctionsSettings_enableSuspensions">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.enableGameEventList" title="@Strings.settings_enableFunctionsSettings_enableGameEventList">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.enableGoalConfirmation" title="@Strings.settings_enableFunctionsSettings_enableGoalConfirmation">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.enableSuspensionConfirmation" title="@Strings.settings_enableFunctionsSettings_enableSuspensionConfirmation">
        <settingConfig type="boolean" />
    </setting>
</settings>